.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--rad);
  box-shadow: var(--shadow);
  background-color: var(--content-base);

  width: 100%;

  padding: var(--p-el);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--p);
  }

  &__content {
    & > * {
      margin-top: var(--p);
    }
  }
}
