.filter {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &_wrapper {
    min-width: 14.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--content-base);
    border-radius: var(--rad);
    box-shadow: var(--shadow);
    height: fit-content;
    flex-shrink: 0;
  }

  &_title {
    padding: var(--p) var(--p-el);
    display: flex;
    align-items: center;
    height: var(--h-size-title);
  }
}
